<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->

    <!-- <form class="example-form" style="background-color: blanchedalmond;">
      <input matInput type="text" placeholder="Clearable input" value="aaaa">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"> -->
        <!-- <mat-icon>close</mat-icon> -->
      <!-- </button>
    </form>  -->

    <!-- <form class="example-form" style="background-color: blanchedalmond;">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    
    </form> -->

    <div>
      <input type="text" name="searchText" #searchText>
      <input type="button" name="addSearchTextButton" value="추가" (click)="addSearchText(searchText.value)">&nbsp;
      <input type="button" name="delSearchTextButton" value="삭제" (click)="deleteSearchText(searchText.value)">&nbsp;
      
    </div>


  </mat-toolbar-row>
</mat-toolbar>


<input type="text" #userId placeholder="User ID">
<button (click)="onSubmit($event, userId.value)">dmdkdkdkdk</button><br/>
<br/>
<div>
    <span>결과값 : </span>
    <span>{{kjhMdSandbox.userInfo}}</span>
</div>

<spinner [isRunning]="kjhMdSandbox.userInfoLoading$ | async"></spinner>