<app-kjh-toolbar></app-kjh-toolbar>
<div>
  <input type="text" name="testCntInput" readonly="readonly" value={{clickCnt}}>
  <input type="button" name="testCntButton" value="클릭" (click)="cntButtonClick($event)">
</div>
<div>
  <input type="text" name="testTextSumInput" #testTextSumInput>
  <input type="button" name="testTextSumButton" value="클릭" (click)="textSumButton($event, testTextSumInput.value)">&nbsp;
  <textarea name="testTextSumInput" cols="30" rows="10" readonly="readonly" value={{viewText}}></textarea>
  
</div>
<br>

<input matInput placeholder="budget" type="text"/> 

<button mat-raised-button color="primary">Click me !</button>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>