<button class="btn btn-sm btn-light" (click)="switchLanguage('en')">{{ "eng" | translate }}</button>
<button class="btn btn-sm btn-light" (click)="switchLanguage('ko')">{{ "kor" | translate }}</button>

<div class="jumbotron vixxBg">
  <h3>{{ "testPage.title" | translate:langDatas }}</h3>
  <p>{{ "testPage.title1" | translate }}</p>
</div>
<p>
  {{ "testPage.title22" | translate }}

</p>


  <p *ngIf="minaSandbox.minaInfoLoaded$ | async">
    <!-- <span>Mina's info result: {{ minaSandbox.minaInfo }}</span> -->
    <span>Mina's {{ minaSandbox.minaObject.id }}th friend name is '{{ minaSandbox.minaObject.firstname }}'.</span>
    <br/>
    <span>Her last name is '{{ minaSandbox.minaObject['lastname'] }}'.</span>
  </p>
<br>
<br>

<form [formGroup]="vixxForm" (ngSubmit)="onSubmit(vixxForm.value)">
  <div class="form-group">
    <label for="memberId">ID <span class="text-danger">*</span></label>
    <input type="text" class="form-control" formControlName="id" id="memberId" #uid required>
    <control-messages [control]="vixxForm.get('id')"></control-messages>
  </div>

  <div class="form-group">
    <label for="memberText">MEMO</label>
    <input type="text" class="form-control" formControlName="text" id="memberText">
  </div>

  <div class="form-group">
    <label for="memberName">Name</label>
    <input type="text" class="form-control" formControlName="name" id="memberName">
    <!-- <div *ngIf="vixxForm.errors" class="text-danger">
      Name must be at least 4 characters long.
    </div> -->
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!vixxForm.valid">submit</button>
  <input type="button" class="btn btn-secondary" (click)="resetForm()" value="reset">
  <input type="button" class="btn btn-warning" (click)="callMinaTest($event, uid.value)" value="callTest">
</form>

<spinner [isRunning]="minaSandbox.minaInfoLoading$ | async"></spinner>







<br>
<br>
<br>

<footer class="footer text-center">
  <div class="container">
    <p class="text-muted small mb-0">Copyright © ibiz angular 2019</p>
  </div>
</footer>